.profile {
  border: 2.5px solid #000000;
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(47, 47, 55);
}

.name {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.5em;
}

.info {
  color: rgb(131, 127, 127);
}

.profile p {
  margin: 10px 0;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: -21px;
  margin-right: -21px;
}

.stats > div {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid rgb(117, 114, 114); 
  background-color: #dfdbdb; 
  padding: 15px;
  border-bottom: #000000;
  border-left-color: #000000;
  border-right-color: #000000;
  margin-left: -3px; 
  margin-bottom: -20px;
}
.stats > div:first-child {
  margin-left: 0; 
}

.stats > div span:first-child {
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 20px ;
}

.stats > div span:last-child {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px ;
}
